
.heading {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    color: dimgray;
}

.special {
    background-color: aqua;
}

.smallheading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: grey;
    color: beige;
}

.link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkkhaki;
}

.prominent {
    background-color: black;
}
.list {
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
}

